<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.mobantica.shutter">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mSocket.PortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mShutter.ShutterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mShutter.NetworkAvailability"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mShutter.ManageDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mShutter.ActivitySettingNew"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mSocket.LogActivity"
            android:screenOrientation="portrait" />


        <receiver
            android:name=".MainActivity$WifiScanReceiver"
            android:process=":remote" >
        </receiver>

    </application>

</manifest>